In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gonaives,HT,2021-05-25 00:25:57,19.4500,-72.6833,80.49,75,30,6.76
1,1,Mahebourg,MU,2021-05-25 00:25:58,-20.4081,57.7000,71.89,83,40,3.44
2,2,Longyearbyen,SJ,2021-05-25 00:24:00,78.2186,15.6401,26.44,74,75,10.36
3,3,Tuktoyaktuk,CA,2021-05-25 00:25:58,69.4541,-133.0374,32.00,93,90,9.22
4,4,Yellowknife,CA,2021-05-25 00:25:05,62.4560,-114.3525,42.57,42,20,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig

ValueError: weights must be of the same length as locations or None

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)

NameError: name 'heat_layer' is not defined

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gonaives,HT,2021-05-25 00:25:57,19.4500,-72.6833,80.49,75,30,6.76
8,8,Vaini,TO,2021-05-25 00:25:59,-21.2000,-175.2000,78.96,69,75,9.22
12,12,Kangaba,ML,2021-05-25 00:26:00,11.9333,-8.4167,85.39,51,68,1.66
17,17,Butaritari,KI,2021-05-25 00:26:02,3.0707,172.7902,75.69,91,100,10.85
19,19,Rikitea,PF,2021-05-25 00:26:03,-23.1203,-134.9692,76.32,81,97,17.56
21,21,Araguacu,BR,2021-05-25 00:26:03,-12.9306,-49.8264,81.88,48,89,4.12
27,27,Hasaki,JP,2021-05-25 00:26:05,35.7333,140.8333,77.18,68,28,3.98
31,31,Maues,BR,2021-05-25 00:26:06,-3.3836,-57.7186,79.11,77,59,2.64
34,34,Kumluca,TR,2021-05-25 00:26:07,36.3703,30.2869,76.60,34,1,6.93
36,36,Victoria,HK,2021-05-25 00:26:08,22.2855,114.1577,89.96,78,56,1.01

In [12]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Gonaives      HT     80.49  19.4500  -72.6833
8        Vaini      TO     78.96 -21.2000 -175.2000
12     Kangaba      ML     85.39  11.9333   -8.4167
17  Butaritari      KI     75.69   3.0707  172.7902
19     Rikitea      PF     76.32 -23.1203 -134.9692
21    Araguacu      BR     81.88 -12.9306  -49.8264
27      Hasaki      JP     77.18  35.7333  140.8333
31       Maues      BR     79.11  -3.3836  -57.7186
34     Kumluca      TR     76.60  36.3703   30.2869
36    Victoria      HK     89.96  22.2855  114.1577

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng             Hotel Name
0     Gonaives      HT     80.49  19.4500  -72.6833  Vertières Doux Séjour
8        Vaini      TO     78.96 -21.2000 -175.2000    Keleti Beach Resort
12     Kangaba      ML     85.39  11.9333   -8.4167            Hôtel Mandé
17  Butaritari      KI     75.69   3.0707  172.7902     Isles Sunset Lodge
19     Rikitea      PF     76.32 -23.1203 -134.9692         Pension Maro'i
21    Araguacu      BR     81.88 -12.9306  -49.8264        Hotel Tocantins
27      Hasaki      JP     77.18  35.7333  140.8333   Hotel Sunrise Choshi
31       Maues      BR     79.11  -3.3836  -57.7186          Hotel Miramar
34     Kumluca      TR     76.60  36.3703   30.2869             TurkuazKöy
36    Victoria      HK     89.96  22.2855  114.1577     Mini Hotel Central